<!DOCTYPE html>
<html ng-app="kidTalk">
<head>
	<title>Six-Year Old Simulator</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Schoolbell|Open+Sans" rel="stylesheet">
</head>
<body>
<div id="container" ng-controller="kidTalkController">
	
	<div id="heading">	
		<p id="title">Six-Year-Old Simulator</p>
		<p id="byline">An App That Talks... A Lot</p>
	</div>

	<div id="buttons">
		<button type="submit" id="add-word" ng-click="randomWord()">Add Word</button>
		<button type="submit" id="add-phrase" ng-click="randomPhrase()">Add Phrase</button>
		<button type="submit" id="add-fancy-word" ng-click="randomFancyWord()">Add Fancy Word</button>
		<button type="submit" id="add-fancy-phrase" ng-click="randomFancyPhrase()">Add Fancy Phrase</button>
	</div>
	

	<ul id="kid-speak">
		<li ng-repeat="item in kidSaysThis" ng-class="item.decoration">{{item.kidSaysThis}}</li>
	</ul>
	
</div>

<script src="lib/angular.min.js"></script>
<script src="lib/angular-route.min.js"></script>
<script src="app.js"></script>
<script src="controller.js"></script>
</body>
</html>